<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="camera_position_x" value="0.066" />
  <xacro:property name="camera_position_y" value="0.0" />
  <xacro:property name="camera_position_z" value="0.1982" />
  <xacro:property name="camera_orientation_r" value="0.0" />
  <xacro:property name="camera_orientation_p" value="0.0" />
  <xacro:property name="camera_orientation_y" value="0.0" />
   

  <link name="rgbd_link">
  
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://talos_description/meshes/sensors/orbbec/orbbec.STL" />
      </geometry>
      <material name="DarkGrey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="-0.01 0.0025 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.185 0.03"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.01"/>
      <inertia ixx="3e-05" ixy="0" ixz="0" iyy="2e-06" iyz="0" izz="3e-05" />
      <origin xyz="-0.01 0.0025 0" rpy="0 0 0"/>
    </inertial>

  </link>


  <joint name="rgbd_joint" type="fixed">
    
    <origin xyz="${camera_position_x} ${camera_position_y} ${camera_position_z}" 
            rpy="${camera_orientation_r} ${camera_orientation_p} ${camera_orientation_y}" /> 
    <axis xyz="0 0 1"/>
    <parent link="cranium_link"/>
    <child link="rgbd_link"/>

  </joint>


  <link name="rgbd_optical_frame">

    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </inertial>

  </link>


  <joint name="rgbd_optical_joint" type="fixed">
    
    <origin xyz="0 0 0" 
            rpy="${-90 * deg_to_rad} 0 ${-90 * deg_to_rad}"/>
    <parent link="rgbd_link"/>
    <child link="rgbd_optical_frame"/>
    
  </joint>

 
  <gazebo reference="rgbd_link">
    
    <sensor type="depth" name="rgbd_frame_sensor">
      <always_on>true</always_on>
      <update_rate>30.0</update_rate>
      <camera>
        <horizontal_fov>${60.0 * deg_to_rad}</horizontal_fov>
        <image>
          <format>B8G8R8</format>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.6</near>
          <far>8.0</far>
        </clip>
      </camera>
      <plugin name="rgbd_frame_controller" filename="libgazebo_ros_openni_kinect.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>30.0</updateRate>
        <cameraName>rgbd</cameraName>
        <imageTopicName>rgb/image_raw</imageTopicName>
        <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
        <depthImageTopicName>depth/image_raw</depthImageTopicName>
        <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
        <pointCloudTopicName>depth/points</pointCloudTopicName>
        <frameName>rgbd_optical_frame</frameName>
        <pointCloudCutoff>0.45</pointCloudCutoff>
        <rangeMax>10.0</rangeMax>
        <distortionK1>0.00000001</distortionK1>
        <distortionK2>0.00000001</distortionK2>
        <distortionK3>0.00000001</distortionK3>
        <distortionT1>0.00000001</distortionT1>
        <distortionT2>0.00000001</distortionT2>
      </plugin>
    </sensor>

   
    <sensor type="camera" name="rgbd_high_res_frame_sensor">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>${60.0 * deg_to_rad}</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="rgbd_high_res_frame_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>45.0</updateRate>
        <cameraName>rgbd/high_res</cameraName>
        <imageTopicName>/rgbd/rgb/high_res/image_raw</imageTopicName>
        <cameraInfoTopicName>/rgbd/rgb/high_res/camera_info</cameraInfoTopicName>
        <frameName>rgbd_optical_frame</frameName>
        <hackBaseline>0.0</hackBaseline>
        <distortionK1>0.00000001</distortionK1>
        <distortionK2>0.00000001</distortionK2>
        <distortionK3>0.00000001</distortionK3>
        <distortionT1>0.00000001</distortionT1>
        <distortionT2>0.00000001</distortionT2>
      </plugin>
    </sensor>
  </gazebo>  


</robot>
